
@media (max-width: 767.98px) {
    .style-table {
        margin-left: 2.5vw;
        margin-bottom: 3%;
        width: 95vw;
        height: 60vh;
        overflow: auto;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        font-size: 2.8vw;
        font-weight: bold;
    }
    a {
        margin-left: 2.5vw;
        font-size: 2.5vw;
    }
    h1 {
       margin: 3.5vw;
       font-size: 3.5vw;
       text-align: center;
    }
}

@media (min-width: 768px) {
    .style-table {
        margin-left: 2.5vw;
        margin-bottom: 3%;
        width: 95vw;
        height: 50vh;
        overflow: auto;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        font-size: 1.3vw;
        font-weight: bold;
    }

    a {
        margin-left: 2.5vw;
        font-size: 1.5vw;
    }

    h1 {
       margin: 2.5vw;
       font-size: 2.8vw;
       text-align: center;
    }
}

.table td, .table th {
    padding: 1.0vw;
}

.style-table::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

.style-table::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

#covid_graph {
    margin: 5%;
}

.chart-container {
    height: 50vh;
    width: 90vw;
}
