<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SFUSD COVID Cases Tracker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</head>
<body>
    <h1>Cumulative COVID Cases in SFUSD (since August 16)</h1>
    <div class="vertical-scrollable style-table table-responsive">
        <table class="table table-striped table-bordered">
          <tr class="table-primary">
            <th scope="col">Time Updated</th>
            <th scope="col">Staff Self Reported</th>
            <th scope="col">Student/Family Self Reported</th>
            <th scope="col">COLOR Testing Reported</th>
            <th scope="col">Total Reported</th>
            <th scope="col">New Cases</th>
          </tr>
            {% for i in dict_list %}
                <tr scope="row">
                    <td>{{ i["time"] }}</td>
                    <td>{{ i["staff"] }}</td>
                    <td>{{ i["student"] }}</td>
                    <td>{{ i["color"] }}</td>
                    <td>{{ i["total"] }}</td>
                    <td>{{ i["new_cases"] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <a href="https://www.sfusd.edu/covid-19-response-updates-and-resources/health-and-safety-guidelines/when-someone-gets-sick/covid-19-testing-dashboard" target="_blank">
            Data taken from SFUSD COVID-19 Dashboard</a>
    <div class="chart-container">
        <canvas id="covid_graph"></canvas>
    </div>
    <script>
        var chart = document.getElementById("covid_graph");
        var line_graph = new Chart(chart, {
            type: "line",
            data: {
                labels: [
                    {% for i in graph_list %}
                        "{{ i['time'] }}",
                    {% endfor %}
                ],
                datasets: [{
                  label: "Number of Total Cases",
                  borderColor: "#3e95cd",
                  data: [
                    {% for i in graph_list %}
                       "{{ i['total'] }}",
                      {% endfor %}
                     ]
                  }]
            },
            options: {
                responsive: true,
                tooltips: {
                    mode: 'x-axis'
                },
                scales: {
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Time'
                        },
                        ticks: {
                            display: false
                        }
                    }],
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Number of Total Cases'
                        }
                    }]

                }
            }

        });
    </script>
</body>
</html>